[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
black = "*"
python-dotenv = "*"
langchain-ollama = "*"
praw = "*"
langchain-pinecone = "*"
pypdf = "*"
faiss-cpu = "*"
langgraph = "*"

[dev-packages]

[requires]
python_version = "3.13"
